<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
    See http://nlog-project.org/wiki/Configuration_file 
    for information on customizing logging rules and outputs.
     -->
    <targets>
        <!-- add your targets here -->
        <target xsi:type="ColoredConsole"
                        name="consoleNormal"
                        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
                        useDefaultRowHighlightingRules="true" />
        
        <target xsi:type="ColoredConsole"
                        name="consoleError"
                        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception: => \:${exception:format=type,message:separator= - :maxInnerExceptionLevel=5:innerFormat=shortType,message}} | ${stacktrace:format=DetailedFlat}"
                        useDefaultRowHighlightingRules="true"/>
        
        <target xsi:type="File" 
                        name="fileNormal"
                        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
                        fileName="${basedir}/logs/WpfMnpDemoApp-${shortdate}.log"
                        archiveFileName="${basedir}/logs/archive/{###}.log"
                        maxArchiveFiles="6"
                        archiveNumbering="Sequence"
                        archiveEvery="Month" />
        
        <target xsi:type="File" 
                        name="fileError"
                        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception: => \:${exception:format=type,message:separator= - :maxInnerExceptionLevel=5:innerFormat=shortType,message}} | ${stacktrace:format=DetailedFlat}"
                        fileName="${basedir}/logs/WpfMnpDemoApp-${shortdate}.log"
                        archiveFileName="${basedir}/logs/archive/{###}.log"
                        maxArchiveFiles="6"
                        archiveNumbering="Sequence"
                        archiveEvery="Month" />
        
        <target xsi:type="File"
                        name="fileDebug"
                        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception: => \:${exception:format=type,message:separator= - :maxInnerExceptionLevel=5:innerFormat=shortType,message}} | ${stacktrace:format=DetailedFlat}"
                        fileName="${basedir}/logs/WpfMnpDemoApp-${shortdate}-debug.log"
                        archiveFileName="${basedir}/logs/archive/debug-{###}"
                        maxArchiveFiles="1"
                        archiveNumbering="Sequence"
                        archiveEvery="Month" />
    </targets>

    <rules>
        <!-- add your logging rules here -->
        <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="consoleNormal" final="false" />
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="consoleError" final="false" />
        <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="fileNormal" final="false" />
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="fileError" final="true" />
    </rules>
</nlog>